# BACKEND ====================

backend/package-lock.json

# Node.js dependencies
backend/node_modules/

# Environment variables
backend/.env
backend/.env.*

# Logs
backend/logs/
backend/*.log
backend/npm-debug.log*
backend/yarn-debug.log*
backend/pnpm-debug.log*

# Runtime data
backend/pids/
backend/*.pid

# Coverage directories
backend/coverage/
backend/.nyc_output/

# Build directories
backend/dist/
backend/build/

# IDE / Editor directories and files
backend/.vscode/
backend/.idea/
backend/*.suo
backend/*.ntvs*
backend/*.njsproj
backend/*.sln

# MacOS
backend/.DS_Store

# Windows
backend/Thumbs.db

# Optional npm cache
backend/.npm

# Optional eslint cache
backend/.eslintcache

# FRONTEND ====================

frontend/.env
frontend/.env.*

frontend/package-lock.json

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

.inetu
.project
.*.swp
.*.swo
*.sublime-project
*.sublime-workspace